<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PIMP.DISample.MyConsole.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <userSettings>
        <PIMP.DISample.MyConsole.Settings>
            <setting name="SecretPassword" serializeAs="String">
                <value>My Voice Is My Password. Verify Me.</value>
            </setting>
            <setting name="OtherString" serializeAs="String">
                <value>Needed this at Registration Time.</value>
            </setting>
            <setting name="FooConnectionString" serializeAs="String">
                <value>Provider:Whatever;</value>
            </setting>
        </PIMP.DISample.MyConsole.Settings>
    </userSettings>
</configuration>